@import "tailwindcss";

:root {
  --background: #050505;
  --foreground: #E0E0E0;
  --primary: #00FF41;
  --secondary: #191970;
  --surface: #111111;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-surface: var(--surface);

  --font-display: var(--font-display);
  --font-body: var(--font-body);
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-body), sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-display), sans-serif;
}